OPEN_API_KEY= [ChatGPT/OpenAI API Key]
GEMINI_API_KEY= [Gemini API key]

# The URL for MongoDB.
# the format is: mongodb://[username:password@]host:port/database
MONGO_URL=mongodb://admin:admin@mongodb:27017/novellier?authSource=admin
MONGO_DB=novellier

# The URL for the ChromaDB vector database API
CHROMA_URL=http://chromadb:8000
OLLAMA_URL=http://ollama:11434
AI_PROVIDER=local

EMBEDDING_MODEL=nomic-embed-text
LLM_MODEL=phi3
LLM_TEMPERATURE=0.7 # Controls the randomness of the model's output. Higher values (e.g., 0.9) make output more random, while lower values (e.g., 0.2) make it more deterministic.
LLM_NUM_PREDICT=150 # Number of tokens to predict for each response, can be adjusted based on needs and model capabilities

JWT_SECRET=supersecretkey # Secret key for signing JWT tokens, should be changed in production
JWT_EXPIRATION=3600*24 # JWT token expiration time in seconds (1 day in this case)

COMPOSE_PROJECT_NAME=novellier-app
COMPOSE_NETWORK=novellier-app_novellier-network

# Mongo Express UI credentials
MONGO_EXPRESS_USERNAME=admin
MONGO_EXPRESS_PASSWORD=pass

PORTAINER_USERNAME=admin
PORTAINER_PASSWORD=admin

DOCKER_BUILDKIT=1 # Enable BuildKit because it's better at building than the legacy builder
COMPOSE_DOCKER_CLI_BUILD=1 # Use the Docker CLI for building, which is required for BuildKit